<html>
  <head>
    <title>Celebrities</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/celebrities">Celebrities</a></li>
        <li><a href="/celebrities/create">Create New Celebrity</a></li>
      </ul>
    </nav>

    <h1>Welcome to the Celebrity Database</h1>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <a href="/celebrities">View Celebrities</a>
    <a href="/movies/create">Create New Movie</a>
    <a href="/movies">View Movies</a>
  </body>
</html>